:root {
    --color-background: #191919;
    --color-background-shadow: #4a4a4a;
    --color-background-dark: #080808;
    --color-text: #efefef;
    --color-text-shadow: #b3b3b3;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1F232A #4a4a4a;
}

::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
}

body, main {
    background: var(--color-background) !important;
}

/* estilo da pagina inicial */

.gr27e, footer {
	background-color: var(--color-background) !important;
}
.coreSpriteLoggedOutWordmark {
    background-position: -370px -235px !important;
    height: 44px !important;
    width: 44px !important;
}
input {
  filter: none;
}
._9GP1n, ._2hvTZ {
	background-color: var(--color-background-shadow) !important;
}
._2hvTZ, .K5OFK a:hover, .K5OFK ._3G4x7:hover, .olLwo {
	color: var(--color-text) !important;
}
._2Lks6, ._2Lks6:hover, ._2Lks6:active, ._2Lks6:visited, .izU2O, a, a:visited, ._3G4x7, .yWX7d._8A5w5 {
	color: var(--color-text-shadow) !important;
}
/* fim do estilo da pagina inicial */

/* estilo da navbar */

.cq2ai {
    display:none !important;
}
._8-yf5 > path {
    fill: var(--color-text) !important;
}
nav * {
    color: var(--color-text) !important;
}

.x3qfX, .x3qfX::placeholder {
    color: var(--color-text) !important;
}
.JvDyy, ._lz6s {
    background-color: var(--color-background-dark) !important;
}
.drKGC {
	background-color: var(--color-background-dark) !important;
	border-radius: 15px !important;
	top: 43px !important;
}

.fuqBx {
	border-radius: 15px !important;
}
/* fim do estilo da navbar */

/* estilo das postagens */

.VcOAj, .qfAOE, .kAlZ6, .HE3mO, .EIuhb, .RdURl, .eLAPa, .ltEKP .QBXjJ, .jdnLC, .HaS-3, .s2MYR, .KQA-S, .WidCF, article._8Rm4L {
	background-color: var(--color-background-dark) !important;
}
._8-yf5 {
    fill: var(--color-text) !important;
}
.Ypffh, .RucPH, .RucPH:visited, .sqdOP.yWX7d._8A5w5.ZIAjV {
	color: var(--color-text) !important;
}
.Nm9Fw, ._8Pl3R, .C4VMK * {
	color: var(--color-text-shadow) !important;
}
._0T_XJ::after, ._0T_XJ::before {
	display: none;
}
._4l6NB, .HaS-3, .WidCF {
	background-image: inherit !important;
}
.XvoX1 {
	border-top: 1px solid var(--color-background-dark) !important;
}
.JrZbN {
	border-bottom: 1px solid var(--color-background-dark) !important;
}
.XQXOT > li {
	display: none;
}
.sH9wk, .JyscU .Slqrh, .MhyEU, .AatJH {
	border-top: 1px solid var(--color-background) !important;
}
.UE9AK {
	border-bottom: 1px solid var(--color-background) !important;
}
.JyscU.ePUX4 .eo2As, .JyscU.ePUX4 .UE9AK {
    border-left: inherit !important;
}
.ltEKP .QBXjJ {
    border: inherit !important;
}
.Igw0E.IwRSH.eGOV_._4EzTm.IM32b {
	display: none !important;
}
._8VIOK, .u9F97, .OzqB_ {
	background-color: var(--color-background-shadow) !important;
}
article._8Rm4L, .KQA-S {
	border: none !important;
	border-radius: 15px !important;
	box-shadow: 0 3px 6px rgb(0 0 0 / 0.1), 0 3px 6px rgb(90 90 90 / 10%);
}
/* fim do estilo das postagens */

/* estilo das opções das postagens */

.pbNvD.fPMEg {
	border: 1px solid #fff !important;
	border-radius: 12px;
}
.aOOlW {
	border-top: 1px solid var(--color-background-shadow) !important;
}
.HoLwm {
	color: var(--color-text) !important;
}
/* fim estilo das opções das postagens */

/* estilo das sugestoões */

.gmFkV, .gmFkV:visited, .gmFkV:active, .gmFkV:focus, .gmFkV:hover {
	color: var(--color-text) !important;
}/* nome do perfil em cima das sugestões */

._6E_wP, .NP414, .NP414::before, .tHaIX, ._8UZ6e {
	background-color: var(--color-background) !important;
}
._41KYi {
	background-color: var(--color-background-dark) !important;
}
.coreSpritePagingChevron{
    background-position: -130px -100px !important;
    height: 30px !important;
    width: 30px !important;
}
.Rebts, .FPmhX.Qj3-a, .FPmhX.Qj3-a:visited {
	color: var(--color-text) !important;
}
._7UhW9.PIoXz.qyrsm.KV-D4.uL8Hv {
	color: var(--color-text-shadow) !important;
}         
/* fim do estilo das sugestoões */

/* estilo dos stories */

.eebAO {
	color: var(--color-text) !important;
}
._7JZQt, ._-9WeM {
	background: var(--color-background-shadow) !important;
}
.tUtVM {
	background-color: var(--color-background-dark) !important;
}
/* fim do estilo dos stories */

/* estilo do perfil */

.g47SY, ._32eiM, ._32eiM:visited, .eXle2, ._8A5w5, .-fzfL, .Kr222, .yUEEX.KV-D4, .-vDIg .rhpdm {
	color: var(--color-text) !important;
}
.-nal3, .-nal3:active, .-nal3:visited, .-nal3:hover, .-vDIg *, .c-Vw8, .MMzan.KV-D4 {
	color: var(--color-text-shadow) !important;
}
.T-jvg {
	border-top: 1px solid #fff !important;
}
.-fzfL {
	background: white !important;
}
.t30g8, .M-jxE, .jLuN9 {
	background-color: var(--color-background) !important;
}
.m41U8 {
	display: none;
}
.jju9v {
	background: var(--color-background) !important;
}
.IalUJ {
    height: 10px;
	width: 10px;
}
._4bSq7 {
    margin-bottom: 4px !important;
}
.fx7hk {
	border-top: 1px solid #999 !important;
}
a._9VEo1 {
    opacity: .5;
}
a._9VEo1.T-jvg {
    opacity: 1;
}
.snXeX {
    border-bottom: 1px solid #fff !important;
}
/* fim do estilo do perfil */

/* estilo do seguir/seguidores */

._6xe7A, .pbNvD.fPMEg {
	background: var(--color-background-dark) !important;
}

/* estilo do chat */

.pV7Qt._6Rvw2.Igw0E.IwRSH.YBx95.ybXk5._4EzTm.i0EQd {
	max-width: inherit !important;
	border: inherit !important;
}
.oYYFH {
	padding: inherit !important;
}
.m7ETg, .Igw0E.IwRSH>textarea, .j_2Hd, .m82CD {
	color: var(--color-text) !important;
}
.S-mcP, ._6FEQj, .cU2Ue, .AvhYw, .DPiy6, .N9abW, .oNO81 {
	background: var(--color-background-dark) !important;
}
.QOqBd.Igw0E.IwRSH.eGOV_._4EzTm, .oYYFH {
	background-color: var(--color-background) !important;
}
.QOqBd, .-qQT3:hover {
	background-color: var(--color-background-shadow) !important;
}
.uo5MA, ._01UL2 {
	background: var(--color-background-dark) !important;
}
.uo5MA {
	border: 1px solid white;
}
.TOh1s {
	display: none;
}
.t30g8.L1C6I > .Igw0E.IwRSH.eGOV_._4EzTm {
	border-top: 1px solid #999;
}
.S-mcP, .emXTk::before {
	border-bottom: 1px solid #999;
}
.oNO81 {
    border-right: 1px solid #999;
}
/* fim do estilo do chat */

/* estilo das configurações */

.BvMHM, .leaflet-container {
	background-color: var(--color-background-dark) !important;
}
.h-aRd.-HRM-, .sqdOP.L3NKy.y3zKF, .leaflet-popup-content-wrapper * {
	color: var(--color-text) !important;
}
.fuQUr:hover, .RO68f {
	background-color: var(--color-background-shadow) !important;
}
.PVkFi * {
	color: var(--color-text-shadow) !important;
}
._9MPbZ {
	border-bottom: solid 1px #fff !important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: var(--color-background-dark) !important;
}
/* fim do estilo das configurações *

/* estilo das notificacoes */

._1XyCr, .tCibT {
	background: var(--color-background-dark) !important;
}
/* fim do estilo das notificacoes *

/* estilo do trocar de conta */

.TNiR1 {
	color: var(--color-text) !important;
}
.KV-D4 {
	color: var(--color-text-shadow) !important;
}
/* fim do estilo do trocar de conta */

/* estilo do vamos começar */

.glyphsSpriteFacebook_circle__outline__24__grey_9, .glyphsSpriteCamera__outline__24__grey_9{
	filter: invert(1);
}
.-wdIA {
    border-color: #fff;
}
/* fim do estilo do vamos começar */

.eShHj.sqdOP.L3NKy._8A5w5 {
	background: var(--color-background-dark) !important;
}
.pV7Qt {
	border: solid 1px var(--color-background-shadow) !important;
}
/* these two fix an actual Instagram bug, where usernames under a story circle need
an extra pixel to avoid clipping descending characters (letters p,q,g,y,j)*/
.ku8Bn {
	height: 85px !important;
	margin-left: -5px;
}
.eebAO.h_uhZ {
	line-height: 15px;
	height: 16px;
}

/* app background */
.SCxLW.o64aR {
	background-color: #f1f1f1;
}

/* navigation bar */
._lz6s.Hz2lF {
	border-bottom: none;
	box-shadow: 0 3px 6px rgb(0 0 0 / 0.1), 0 3px 6px rgb(90 90 90 / 10%);
}

/* nav bar search container */
.LWmhU._0aCwM {
	height: 34px;
}

/* nav bar search background */
.pbgfb.Di7vw {
	border: none;
	background-color: #f1f1f1;
	height: 34px;
	border-radius: 12px;
}

/* search background when searching */
.XTCLo.x3qfX {
	border: none;
	background: #f1f1f1;
	border-radius: 10px;
}

/* search icon when searching */
.mlrQa.coreSpriteSearchIcon {
	top: 13px;
}

/* close search button */
.aIYm8.coreSpriteSearchClear {
	top: 7px;
}

/* nav bar right-side buttons container */
._47KiJ {
	align-items: center;
}

/* stories box */
.zGtbP.IPQK5.VideM {
	border: none;
	border-bottom: none;
	background: none;
	padding: 0;
	left: -3px;
}

/* story circle */
.RR-M-.QN629:hover {
	border-radius: 50%;
	box-shadow: -1px 3px 6px 3px rgb(117 117 117 / 50%);

	transform: scale(1.05);
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/* story image */
._2dbep {
	box-shadow: 0px 0px 0 2px #f1f1f1;
}


/* main content container */
._1SP8R.C3uDN.j9XKR {
	max-width: 645px !important;
}

/* posts column */
.cGcGK {
	max-width: 645px !important;
	margin-right: 0 !important;
}

/* suggestions column */
.COOzN.MnWb5.YT6rB {
	display: none !important;
}

/* suggestions box */
._8Rm4L.vboSt._6E_wP.ccgHY.GZkEI {
	border-radius: 15px !important;
}

.fade-in {
	animation: fade-in ease 0.5s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

 main,
/* chats main bg */
 .t30g8.L1C6I,
/* full screen post */
 ._2dDPU.RnrQH.CkGkG,
/* user avatar */
 ._2dbep {
	background-color: #191919 !important;
}

/* story image */
 ._2dbep {
	box-shadow: 0px 0px 0 2px #191919;
}


/* comment report btn, profile options btn*/
 button.wpO6b,
 ._4l6NB {
	background: none;
}

/* outgoing chat message */
 ._6FEQj.CMoMH.RQUXn._8_yLp {
	background-color: #1a1a1a;
}

/* chat reaction */
 ._31sg7._9BIwZ {
	background-color: #2f2f2f;
}

/* nav bar user menu */
 div.uo5MA {
	box-shadow: 0 0px 6px rgba(128, 128, 128, 0.41), 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* search results menu item */
 .yCE8d,
 section,
 header {
	border-color: #262626;
}

 .custom-stories-button {
	background-color: unset;
}

/* nav bar user menu button */
 a.-qQT3:hover,
/* log out button */
 div.-qQT3:hover,
/* settings left panel btn */
 .h-aRd.fuQUr:hover {
	background-color: #1a1a1a;
}

/* shadow below log out button */
 .TOh1s {
	display: none;
}

 #toggle-dark-theme-button:hover,
/* multiple users chat chip */
 div._6Rvw2._6YLdr {
	background-color: #1a1a1a;
}

/* search bar bg */
 .XTCLo.x3qfX,
 .pbgfb.Di7vw {
	background-color: #1a1a1a;
}

/* report buttons */
 button.aOOlW,
 div {
	border-color: #262626;
}



/* overlay blocker */
 .RnEpo.Yx5HN {
	background-color: #1c1c1ca3;
}

 a,
 span,
 div,
 button,
 input,
 textarea,
 h1,
 h2,
 h3,
 h4,
 label,
 p {
	color: white !important;
}

/* hashtags in comments */
 a.xil3i {
	color: #51bde8 !important;
}

 svg {
	fill: white;
}

/* ---- extract from https://raw.githubusercontent.com/ivocass/instagram-redesigned/master/src/css/styles.css ---- */